
	#map {
		width: 800px; 
		height: 600px; 
		border: 1px solid rgba(0, 0, 0, 1);
	}

	#progress {
	    display: none;
	    position: absolute;
	    z-index: 1000;
	    left: 400px;
	    top: 300px;
	    width: 200px;
	    height: 20px;
	    margin-top: -20px;
	    margin-left: -100px;
	    background-color: #000000;
	    background-color: rgba(0, 0, 0, 1);
	    border-radius: 4px;
	    padding: 2px;
	}

	#progress-bar {
	    width: 0;
	    height: 100%;
	    background-color: rgba(0, 0, 0, 1);
	    border-radius: 4px;
	}
        
	#body {
		background-color: black; /* Black background */
		color: white; /* White text */
	}