body {
  background-color: black;
  color: white;
  font-family: "Times New Roman", Times, serif;
}

a {
  color: #66ccff;
}

.navbar, .page__footer {
  background-color: #111;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
}

h1, h2, h3, h4, h5, h6,
p, li, blockquote, table, td, th {
  font-family: "Times New Roman", Times, serif;
}
